@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* Box Sizing
--------------------------------------------------- */
* {
    box-sizing: border-box;
}

/* Typography
--------------------------------------------------- */

* {
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
    max-width: 100vw;
    min-height: 100vw;
}

body {
    background-color: #232c39;
    padding: 5% 20%;
	color: #ffffff;
	font-family: 'Hind', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	max-width: 90vw;
	overflow-x: hidden;
}

p {
	margin: 0 0 1.382em;
	padding: 0;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-bottom: 2px solid #f0f1f2;
	clear: both;
	padding: 1em 0 0;
	margin: 0 0 2em;
}

b,
strong {
	font-weight: 500;
}

em,
i {
	font-style: italic;
}


/* Fonts & Sizing
--------------------------------------------- */
h1,
h2 {
    font-family: 'Hind', Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 0.382em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

p {
	font-size: 1.3em;
}

/* Input
--------------------------------------------- */
input,
select,
textarea {
	background-color: #ffffff;
    border: 0.1em solid #f0f1f2;
	border-radius: 4px;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
	width: 60%;
	line-height: 1.85;
	font-size: 18px;
	font-size: 1.8rem;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border-color: #647585;
}

:focus {
	outline: 2px solid #f0f1f2;
}

/* Buttons
--------------------------------------------- */
button,
input[type='button'] {
	background-color: #232c39;
	border: 0.1em solid #ffffff;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 600;
    padding: 1.2em 2.2em;
	text-decoration: none;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: 1;
}

button a {
    text-decoration: none;
    color: #232c39;
}

button a:hover {
    color: #ffffff;
}

button:hover,
input[type='button']:hover {
	color: #ffffff;
	box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.1), 0 1.25rem 1rem -0.5rem rgba(35, 44, 57, 0.1);
	-webkit-transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
	        transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
}

button + button,
input[type='button'] + button{
	margin-top: 1em;
	clear: both;
}

#partTwoButton {
    text-decoration: none;
    color: #232c39;
    background-color: #ffffff;
    margin-top: 40px;
}

#partTwoButton:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #232c39;
}

#nextScore {
    margin-top: 0.5em;
}

/* Tables
--------------------------------------------- */
table {
	background-color: #232c39;
	border: 2px solid #f0f1f2;
	border-spacing: 0;
	line-height: 1;
	margin-bottom: 40px;
	margin-bottom: 4rem;
    width: 100%;
    font-size: 1.4em;
    border-radius: 4px;
}

tbody {
	border-bottom: 2px solid #f0f1f2;
}

td,
th {
	text-align: left;
	padding: 0.618em;
	border-top: 2px solid #f0f1f2;
	border-right: 2px solid #f0f1f2;
}
tr:first-child {
    background-color: red;
}

/* Sections
--------------------------------------------- */

#partOne {
    margin: 0 auto;
}

#partTwo {
    margin-top: 400px;
}

#addGoalBoxes, #removeGoalBoxes {
    margin: 10px 20px 0px 0px;
}

#firstGoalText {
    font-weight: bold;
}

#errorMessage {
    color:  red;
}